lab3/ClientL3/src/services/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/PersonService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getPersons">
<part name="parameters" element="tns:getPersons"></part>
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse"></part>
</message>
<message name="IllegalAgeException">
<part name="fault" element="tns:IllegalAgeException"></part>
</message>
<message name="IllegalNameException">
<part name="fault" element="tns:IllegalNameException"></part>
</message>
<message name="IllegalStateIdException">
<part name="fault" element="tns:IllegalStateIdException"></part>
</message>
<message name="IllegalIdException">
<part name="fault" element="tns:IllegalIdException"></part>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"></part>
</message>
<message name="createPerson">
<part name="parameters" element="tns:createPerson"></part>
</message>
<message name="createPersonResponse">
<part name="parameters" element="tns:createPersonResponse"></part>
</message>
<message name="IllegalRecommendedStatusException">
<part name="fault" element="tns:IllegalRecommendedStatusException"></part>
</message>
<message name="BadQueryResponseException">
<part name="fault" element="tns:BadQueryResponseException"></part>
</message>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson"></part>
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse"></part>
</message>
<message name="IllegalUpdatePersonSetException">
<part name="fault" element="tns:IllegalUpdatePersonSetException"></part>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"></part>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"></part>
</message>
<portType name="PersonWebService">
<operation name="getPersons">
<input wsam:Action="http://services/PersonWebService/getPersonsRequest" message="tns:getPersons"></input>
<output wsam:Action="http://services/PersonWebService/getPersonsResponse" message="tns:getPersonsResponse"></output>
<fault message="tns:IllegalAgeException" name="IllegalAgeException" wsam:Action="http://services/PersonWebService/getPersons/Fault/IllegalAgeException"></fault>
<fault message="tns:IllegalNameException" name="IllegalNameException" wsam:Action="http://services/PersonWebService/getPersons/Fault/IllegalNameException"></fault>
<fault message="tns:IllegalStateIdException" name="IllegalStateIdException" wsam:Action="http://services/PersonWebService/getPersons/Fault/IllegalStateIdException"></fault>
<fault message="tns:IllegalIdException" name="IllegalIdException" wsam:Action="http://services/PersonWebService/getPersons/Fault/IllegalIdException"></fault>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services/PersonWebService/getPersons/Fault/SQLException"></fault>
</operation>
<operation name="createPerson">
<input wsam:Action="http://services/PersonWebService/createPersonRequest" message="tns:createPerson"></input>
<output wsam:Action="http://services/PersonWebService/createPersonResponse" message="tns:createPersonResponse"></output>
<fault message="tns:IllegalNameException" name="IllegalNameException" wsam:Action="http://services/PersonWebService/createPerson/Fault/IllegalNameException"></fault>
<fault message="tns:IllegalAgeException" name="IllegalAgeException" wsam:Action="http://services/PersonWebService/createPerson/Fault/IllegalAgeException"></fault>
<fault message="tns:IllegalRecommendedStatusException" name="IllegalRecommendedStatusException" wsam:Action="http://services/PersonWebService/createPerson/Fault/IllegalRecommendedStatusException"></fault>
<fault message="tns:IllegalStateIdException" name="IllegalStateIdException" wsam:Action="http://services/PersonWebService/createPerson/Fault/IllegalStateIdException"></fault>
<fault message="tns:IllegalIdException" name="IllegalIdException" wsam:Action="http://services/PersonWebService/createPerson/Fault/IllegalIdException"></fault>
<fault message="tns:BadQueryResponseException" name="BadQueryResponseException" wsam:Action="http://services/PersonWebService/createPerson/Fault/BadQueryResponseException"></fault>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services/PersonWebService/createPerson/Fault/SQLException"></fault>
</operation>
<operation name="updatePerson">
<input wsam:Action="http://services/PersonWebService/updatePersonRequest" message="tns:updatePerson"></input>
<output wsam:Action="http://services/PersonWebService/updatePersonResponse" message="tns:updatePersonResponse"></output>
<fault message="tns:IllegalIdException" name="IllegalIdException" wsam:Action="http://services/PersonWebService/updatePerson/Fault/IllegalIdException"></fault>
<fault message="tns:IllegalAgeException" name="IllegalAgeException" wsam:Action="http://services/PersonWebService/updatePerson/Fault/IllegalAgeException"></fault>
<fault message="tns:IllegalNameException" name="IllegalNameException" wsam:Action="http://services/PersonWebService/updatePerson/Fault/IllegalNameException"></fault>
<fault message="tns:IllegalStateIdException" name="IllegalStateIdException" wsam:Action="http://services/PersonWebService/updatePerson/Fault/IllegalStateIdException"></fault>
<fault message="tns:IllegalUpdatePersonSetException" name="IllegalUpdatePersonSetException" wsam:Action="http://services/PersonWebService/updatePerson/Fault/IllegalUpdatePersonSetException"></fault>
<fault message="tns:BadQueryResponseException" name="BadQueryResponseException" wsam:Action="http://services/PersonWebService/updatePerson/Fault/BadQueryResponseException"></fault>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services/PersonWebService/updatePerson/Fault/SQLException"></fault>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://services/PersonWebService/deletePersonRequest" message="tns:deletePerson"></input>
<output wsam:Action="http://services/PersonWebService/deletePersonResponse" message="tns:deletePersonResponse"></output>
<fault message="tns:IllegalIdException" name="IllegalIdException" wsam:Action="http://services/PersonWebService/deletePerson/Fault/IllegalIdException"></fault>
<fault message="tns:BadQueryResponseException" name="BadQueryResponseException" wsam:Action="http://services/PersonWebService/deletePerson/Fault/BadQueryResponseException"></fault>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services/PersonWebService/deletePerson/Fault/SQLException"></fault>
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getPersons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalAgeException">
<soap:fault name="IllegalAgeException" use="literal"></soap:fault>
</fault>
<fault name="IllegalNameException">
<soap:fault name="IllegalNameException" use="literal"></soap:fault>
</fault>
<fault name="IllegalStateIdException">
<soap:fault name="IllegalStateIdException" use="literal"></soap:fault>
</fault>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal"></soap:fault>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createPerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalNameException">
<soap:fault name="IllegalNameException" use="literal"></soap:fault>
</fault>
<fault name="IllegalAgeException">
<soap:fault name="IllegalAgeException" use="literal"></soap:fault>
</fault>
<fault name="IllegalRecommendedStatusException">
<soap:fault name="IllegalRecommendedStatusException" use="literal"></soap:fault>
</fault>
<fault name="IllegalStateIdException">
<soap:fault name="IllegalStateIdException" use="literal"></soap:fault>
</fault>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal"></soap:fault>
</fault>
<fault name="BadQueryResponseException">
<soap:fault name="BadQueryResponseException" use="literal"></soap:fault>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updatePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal"></soap:fault>
</fault>
<fault name="IllegalAgeException">
<soap:fault name="IllegalAgeException" use="literal"></soap:fault>
</fault>
<fault name="IllegalNameException">
<soap:fault name="IllegalNameException" use="literal"></soap:fault>
</fault>
<fault name="IllegalStateIdException">
<soap:fault name="IllegalStateIdException" use="literal"></soap:fault>
</fault>
<fault name="IllegalUpdatePersonSetException">
<soap:fault name="IllegalUpdatePersonSetException" use="literal"></soap:fault>
</fault>
<fault name="BadQueryResponseException">
<soap:fault name="BadQueryResponseException" use="literal"></soap:fault>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal"></soap:fault>
</fault>
<fault name="BadQueryResponseException">
<soap:fault name="BadQueryResponseException" use="literal"></soap:fault>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService"></soap:address>
</port>
</service>
</definitions>